#content {
    flex-direction: column;
    justify-content: flex-start;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

li {
    margin: auto;
}

li a {
    font-size: 2rem;
}